body {
    background-color: #fff4d2;
}
.navbar {
    display: flex;
    /* background: #ffe2ac; */
    background: #E7B87F;
    height: 83px;
    flex-shrink: 0;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-left: -10px;
}

a {
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin-left: 20px;
    color: white;
    
}

h1 {
    margin-top: -5px;
    /* color: #f5875a; */
    color: #B3524D;
    font-family: "Lilita One";
    font-size: 84px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: -5px;
    
}

h2 {
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-bottom: 15px;
    background-size: cover;
    
}

h3 {
    font-family: "Outfit";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-bottom: 15px;
    background-size: cover;
}

.login-form {
    font-family: "Outfit";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    background: url(/static/assets/geobg.png) no-repeat center center;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.pref-h1 {
    margin-top: -5px;
    vertical-align: middle;
    color: #B3524D;
    font-family: "Lilita One";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;

}

.pref-form {
    font-family: "Outfit";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    background: url(./static/assets/geobg.png) no-repeat center center;
    background-size: cover;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;  
}

.form-section {
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: white;
    width: 50%;
    padding: 10px;
    padding-right: 0px;
    text-align: left;

}

.results {
    align-content: center;
}

.result {
    border-radius: 20px;
    margin-bottom: 10px;
    background: white;
    width: 50%;
    padding: 10px;
    padding-right: 0px;
    text-align: center;
    justify-content: center;
}

input[type="inputQ"] {
    background-color: rgb(239, 181, 169);
    color: white;
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    border-color: white;
}

input[type="submit"] {
    background-color: rgb(239, 181, 169);
    color: white;
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    border-color: white;
}

.submit {
    margin-left: 10px;
}

.logo {
    width: 200px;
}

.stoody-h1 {
    display: flex;
    justify-content: center;
} 